/* 文書タグのスタイルシート*/
div.Mantis_TagInsertToComment_menu{
            margin: 0% 0% 0% 0%;
}
pre {
            margin: 0px 10px 0px 10px;
            border: solid 1px slateblue;
           padding: 5px;
  background-color: GhostWhite;
}
blockquote { 
            margin: 5px;
            border: solid 2px LightSalmon;
           padding: 5px;
  background-color: FloralWhite;
         font-size: 13.5px;
}
strong {
             color: red;
}
em { 
             color: blue;
}

textarea#bugnote_text{
            height: 350px;
}

/* ボタンのスタイルシート*/
input#Mantis-TagInsertToComment_pre{
           padding: 5px;
       margin-left: 10px;
  background-color: GhostWhite;
}
input#Mantis-TagInsertToComment_blockquote{
           padding: 5px;
       margin-left: 10px;
  background-color: FloralWhite;
}
input#Mantis-TagInsertToComment_code{
           padding: 5px;
       margin-left: 10px;
             color: darkorange;
}
input#Mantis-TagInsertToComment_strong{
           padding: 5px;
       margin-left: 10px;
             color: red;
       font-weight: bold;
}
input#Mantis-TagInsertToComment_em{
           padding: 5px;
       margin-left: 10px;
             color: blue;
        font-style: italic;
}
input#Mantis-TagInsertToComment_image{
           padding: 5px;
       margin-left: 10px;
}
input#Mantis-TagInsertToComment_scroll{
           padding: 5px;
       margin-left: 10px;
}
